<div class="app">
  {{title + '!'}}

  <div>
    {{ numberOne + numberTwo }}
  </div>
  <div>
    {{ isHappy ? ':D' : ':(' }}
  </div>

  ----------------------------
  <h1>Property Binding</h1>

  <div>
    <h2 [innerHTML]="title"></h2>
    <img [src]="logo">
    <input type="text" [value]="name">
    <div>{{ name }}</div>
  </div>
  ----------------------------
<h1>Event Binding</h1>

  <div>
    <button (click)="handleClick()">
      Change name
    </button>
    <input type="text"
      [value]="name"
      (input) ="handleInput($event)"
      (blur)="handleBlur($event)">
  </div>
  ----------------------------

  <h1>Two-way Binding</h1>

  <div>
    <button (click)="handleClick()">
      Change name
    </button>
    <input type="text"
      [ngModel]="name"
      (ngModelChange) ="handleChange($event)">

    <input type="text"
      [(ngModel)]="name">

  </div>
  ----------------------------
  <h1>Template refs</h1>

  <div>
    <button (click)="handleClickRefs(username.value)">
      Get Value
    </button>
    <input type="text"
      >
    <div>{{ name }}</div>
  </div>
  ----------------------------
  <h1>NgIf</h1>

  <div>
    <input type="text"
      [value]="name"
      (input)="handleChange($event.target.value)">
    
    <ng-template [ngIf]="name.length >3">
      <div>
        Searching for.. {{ name }}
      </div>
    </ng-template>

    <div *ngIf="name.length >3">
        Searching for.. {{ name }}
    </div>
  </div>
  ----------------------------


  <h1>NgFor</h1>

  <div>
    <h3>Airline Passengers</h3>
      <ul>
        <ng-template ngFor let-passenger let-i="index" [ngForOf]="passengers">
          <li>
            {{ i }}: {{ passenger.fullname }}
          </li>
        </ng-template>
      </ul>
      <h3>Airline Passengers</h3>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          {{ i }}: {{ passenger.fullname }}
        </li>
      </ul>
  </div>
  ----------------------------
<h1>NgClass</h1>
<h3>Airline Passengers</h3>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          <span
            class="status"
            [class.checked-in]="passenger.checkedIn"></span>
          {{ i }}: {{ passenger.fullname }}
        </li>
      </ul>
      <h3>Airline Passengers</h3>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          <span
            class="status"
            [ngClass]="{
              'checked-in': passenger.checkedIn,
              'checked-out': !passenger.checkedIn
            }"></span>
          {{ i }}: {{ passenger.fullname }}
        </li>
      </ul>



  ----------------------------
</div>